:root {
    --boxShadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

#root {
    padding: 20px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.patient-container,
.question-container,
.practitioner-container {
    padding-bottom: 40px;
    border-bottom: 1px solid lightgrey;
}

/* PATIENT TABLE */
.patient-table {
    min-height: 500px;
}

.patient > td {
    text-align: center;
    padding: 5px;
}

.search {
    width: 15%;
}

.search-inputs {
    display: flex;
    flex-direction: column;
}

.search-inputs > label:last-of-type,
.search-buttons {
    margin-top: 20px;
}

.search-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


/* QUESTIONNAIRE */
.questionnaire {
    width: 20%;
}

.form-group:not(.radios) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.questionnaire-container {
    display: flex;
    align-items: flex-start;
}

.questionnaire-container > .questionnaire {
    margin-right: 100px;
}

.radios > label:last-of-type {
    margin-right: 10px;
}

/* PRACTITIONER */
.practitioners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    box-shadow: var(--boxShadow);
    padding: 10px;
    width: 250px;
    margin: 15px 0;
    border-radius: 10px;
}

.card-head {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
}

.card-head > img {
    margin-right: 10px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 767px) {
    #root {
        padding: 5px;
    }

    .search {
        width: 50%;
    }

    .questionnaire-container {
        display: flex;
        flex-direction: column;
    }

    .questionnaire-container > .questionnaire {
        margin-right: 0;
    }

    .questionnaire {
        width: 90%;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .questionnaire-container > .questionnaire {
        margin-right: 50px;
    }
}