html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

#root {
    padding: 20px;
}

.patient-table {
    min-height: 500px;
}

.patient > td {
    text-align: center;
    padding: 5px;
}

.search {
    width: 15%;
}

.search-inputs {
    display: flex;
    flex-direction: column;
}

.search-inputs > label:last-of-type,
.search-buttons {
    margin-top: 20px;
}

.search-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.questionnaire {
    width: 15%;
}

.form-group:not(.radios) {
    display: flex;
    flex-direction: column;
}

.submit-btn {
    margin-top: 20px;
}

.error {
    color: red;
}

.success {
    color: green;
}