html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

#root {
    padding: 20px;
}

.error {
    color: red;
}

.success {
    color: green;
}

/* PATIENT TABLE */
.patient-table {
    min-height: 500px;
}

.patient > td {
    text-align: center;
    padding: 5px;
}

.search {
    width: 15%;
}

.search-inputs {
    display: flex;
    flex-direction: column;
}

.search-inputs > label:last-of-type,
.search-buttons {
    margin-top: 20px;
}

.search-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


/* QUESTIONNAIRE */
.questionnaire {
    width: 20%;
}

.form-group:not(.radios) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.questionnaire-container {
    display: flex;
    align-items: flex-start;
}

.questionnaire-container > .questionnaire {
    margin-right: 100px;
}

.radios > label:last-of-type {
    margin-right: 10px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 767px) {
    #root {
        padding: 5px;
    }

    .search {
        width: 50%;
    }

    .questionnaire-container {
        display: flex;
        flex-direction: column;
    }

    .questionnaire-container > .questionnaire {
        margin-right: 0;
    }

    .questionnaire {
        width: 90%;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .questionnaire-container > .questionnaire {
        margin-right: 50px;
    }
}